<div class="avatar-selector">
  <label class="avatar-selector__label">
    Avatar
  </label>
  <div class="avatar-selector__content">
    <app-avatar-image [avatarImageConfig]="avatarImageConfig()" />
    <button type="button" class="avatar-selector__button" (click)="changeAvatar.emit()">
      ✏️ Cambiar avatar
    </button>
    @if (avatarImageConfig().avatarUrl) {
    <button type="button" class="avatar-selector__button avatar-selector__button--danger" (click)="deleteAvatar.emit()">
      🗑️ Eliminar avatar
    </button>
    }
  </div>
</div>
