<div class="user-editor-container">
  <div class="user-editor-container__header">
    <h2>{{ literals.formTitle }}</h2>
    <p>{{ literals.formSubTitle }}</p>
  </div>

  <form class="user-form" (ngSubmit)="onSubmit()">

    <app-input [config]="nameInput" />

    <app-input [config]="emailInput" />

    <app-input [config]="avatarInput" />

    <div class="user-editor-container__buttons">
      @if (userForm()) {
      <button type="submit" class="form-button" [disabled]="userForm().invalid()">
        {{ literals.button }}
      </button>
      }

      @if (!isEditMode) {
        <button type="button" class="form-button form-button__secondary" (click)="createDefaultUser()">
          Crear usuario por defecto
        </button>
      }
    </div>

  </form>
</div>
