<div class="form-card">
  <div class="form-card__header">
    <h2>Crear usuario</h2>
    <p>Añade un nuevo usuario al sistema</p>
  </div>

  <form class="user-form" (ngSubmit)="onSubmit()">

    <div class="form-field">
      <label>Nombre</label>
      <input type="text" placeholder="Introduce el nombre" [formField]="userForm.name"
        [class.input-error]="userForm.name().invalid() && userForm.name().touched()" />
      @if (userForm.name().invalid() && userForm.name().touched()) {
      <span class="error-message">
        {{ getError(userForm.name().errors()) }}
      </span>
      }
    </div>

    <div class="form-field">
      <label>Correo electrónico</label>
      <input type="email" placeholder="ejemplo@correo.com" [formField]="userForm.email"
        [class.input-error]="userForm.email().invalid() && userForm.email().touched()" />
      @if(userForm.email().invalid() && userForm.email().touched()) {
      <span class="error-message">
        {{ getError(userForm.email().errors()) }}
      </span>
      }
    </div>

    <div class="form-field">
      <label>Avatar</label>
      <input type="file" (change)="onAvatarSelected($event)" />
    </div>
    @if (userForm()) {
    <button type="submit" class="form-button" [disabled]="userForm().invalid()">
      Crear usuario
    </button>
    }
  </form>
</div>
